.container {
  margin: 5rem auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--gray-0);
  box-shadow: 0 0 10px 3px #49505733;
  border-radius: 7px;
  overflow: hidden;
}

@media (max-width: 400px) {
  .container {
    margin: 2rem auto;
    width: 95%;
  }
}
