.pusula {
  margin: auto;
  width: fit-content;
  padding: 3.6rem;
  display: flex;
  align-items: stretch;
  gap: 1.4rem;
}

@media (max-width: 400px) {
  .pusula {
    width: 100%;
    padding: 2.4rem 0.8rem;
    gap: 0px;
    justify-content: space-between;
  }
}
